body {
    font-family: 'Montserrat', sans-serif;
    background:rgb(220, 218, 218);
}

#title {
    margin-top: 1vw;
    display: flex;
    font-size: 3vw;
    justify-content: center;
    margin-bottom: 1vw;
}

.main {
    display: flex;
    align-items: center;
    margin-top: 5vw;
    justify-content: center;
    margin-left: 0.5vw;
    gap: 8vw;
    padding-bottom: 10vw;
}

.grid_container {
    display: grid;
    width: 38vw;
    max-height: 3%;
    margin: 0;
    background-color: #4e4d4d;
    padding: 10px;
    border-radius: 5px;
    aspect-ratio: 1;
}

.grid_container_active {
    border: 2px;
}

.grid_item {
    width: auto;
    height: auto;
    background: rgb(231, 231, 231);
    border: 1px solid rgba(0, 0, 0, 0.151);
    font-size: 1vw;
    text-align: center;
    cursor: url(./images/brush_cursor.png), auto;
    user-select: none; /* make divs unselectable ( not supported in IE 11 ) */
    transition: ease 0.2s;
}

.grid_item:hover {
    opacity: 0.6;
}

.slider_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    align-self: flex-start;
    background:rgba(171, 173, 173, 0.637);
    padding: 1vw;
    border-radius: 2%;
    box-shadow: 0 0 0 0.1vw black;
    outline: none;
    font-size: 1.25vw;
}

.slider {
    -webkit-appearance: none;
    width: 20vw;
    height: 0.5vw;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    opacity: 0.5;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: #6d6d6d;
    cursor: pointer;
    transition: ease-in-out 0.10s;
}

.slider::-webkit-slider-thumb:hover {
    width: 1.25vw;
    height: 1.25vw;
}

.color_picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 18vw;
    gap: 1vw;
    padding-top: 2vw;
}

.color_picker * {
    width: 100%;
    height: 2vw;
    width: 2vw;
    background: rgb(88, 75, 75);
    border-radius: 35%;
    box-shadow: 0 0 0 0.15vw black;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.15s;
    transition: ease-in-out 0.15s;
}

.color_picker *:hover {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

.colors_focus{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

#red, .red {
    background: rgb(199, 3, 3);
}
#yellow, .yellow{
    background: rgb(199, 170, 3);
}
#orange, .orange {
    background: rgb(199, 65, 3);
}
#green, .green {
    background: rgb(36, 199, 3);
}
#blue, .blue {
    background: rgb(3, 16, 199);
}
#purple, .purple {
    background: rgb(137, 3, 199);
}
#white, .white {
    background: rgb(252, 252, 252);
}
#black, .black {
    background: rgb(10, 10, 10);
}
#gray, .gray {
    background: rgb(104, 104, 104);
}
#aqua, .aqua {
    background: rgb(3, 186, 199);
}
#brown, .brown {
    background: rgb(77, 37, 0);
}
#pink, .pink {
    background: rgb(199, 3, 117);
}

#eraser, .eraser {
    background: rgb(231, 231, 231);
    
}

#clear_grid {
    height: 5vw;
    margin-top: 8vw;
    cursor: pointer;
    opacity: 0.6;
    transition: ease 0.05s;
}

#clear_grid:hover {
    height: 6vw;
    opacity: 1;
}

.footer{
    display:flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #1a1a1ab0;
    color: #ffffff;
    font-size: 0.75vw;
    font-weight: 600;
    bottom: 0px;
    left: 0px;
    right: 0px;
}